<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Artefacto</title>
        <link rel="stylesheet" th:href="@{/style/style.css}">
        <link rel="icon" type="image/x-icon" href="img/favicon.ico">
</head>
<body>

<h1>Artefacto</h1>

<form th:action="@{/artefactos/guardar}" th:object="${artefacto}" method="post">

    <input type="hidden" th:field="*{idArtefacto}"/>
    <input type="hidden" th:field="*{habilitado}"/>
    
    <label>Nombre</label>
    <input type="text" th:field="*{nombre}"/><br/>

    <label>Descripcion</label>
    <textarea th:field="*{descripcion}"></textarea><br/>

    <label>Equipo descubridor</label>
    <input type="text" th:field="*{descubridores}" list="lista-equipos" autocomplete="off"/>
    <datalist id="lista-equipos">
        <option th:each="equi : ${equipos}" th:value="${equi.nombreEquipo}"></option>
    </datalist>

    <label>En camino</label>
    <input type="checkbox" th:field="*{encamino}"/><br/>

    <label>Museo (opcional)</label>
    <input type="text" th:field="*{museo}" list="lista-museos" autocomplete="off"/>
    <datalist id="lista-museos">
        <option th:each="m : ${museos}" th:value="${m.nombreMuseo}"></option>
    </datalist>

    <label>Yacimiento</label>
    <input type="text" th:field="*{yacimiento}" list="lista-yacimientos" autocomplete="off"/>
    <datalist id="lista-yacimientos">
        <option th:each="y : ${yacimientos}" th:value="${y.nombre}"></option>
    </datalist>

    <div th:if="${artefacto.idArtefacto == null}">
    <!-- ya no hay input de clave aquí, se genera sola -->
    </div>

    <label>Imagen (nombre de archivo, opcional)</label>
    <input type="text" th:field="*{img}"/><br/>

    <label>Clase</label>
    <input type="text" th:field="*{clase}" list="lista-clases" autocomplete="off"/>
    <datalist id="lista-clases">
        <option th:each="c : ${clases}" th:value="${c.nombreClase}"></option>
    </datalist>

    <button type="submit">Guardar</button>
    <a th:href="@{/}">Cancelar</a>
</form>

</body>
</html>